@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.btn {
    cursor: pointer;
}

.btn-text {
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    fill: rgb(25, 55, 75);
    text-anchor: middle;
    alignment-baseline: middle;
}

.machine-img {
    border: 1px solid #888;
    border-radius: 10px;
    margin: 1rem 0;
    min-height: 300px;
}

.main-box {
    fill: rgb(180, 195, 205)
}

.machine-gauge {
    fill: white;
    stroke: rgb(25, 55, 75);
    stroke-width: 3;
    stroke-linejoin: round;
}

.spring-part {
    stroke-width: 8;
    stroke-linecap: round;
}

.spring-back {
    stroke: rgb(140, 35, 65);
}

.spring-front {
    stroke: rgb(216, 60, 75);
}

.spring-top {
    fill: rgb(232, 148, 108);
}

.spring-base {
    fill: rgb(216, 60, 75);
}

.pipes {
    stroke: rgb(216, 60, 75);
    stroke-linecap: round;
    stroke-width: 8;
    fill: none;
}
